body{
    background: black;
}

.main{
    overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
    /* background: black; */
    font-family: 'Geologica', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

/* li{
    text-decoration: none;
} */

:root{
    --color-text: white;
    --color-faintw : rgb(196, 196, 196);
    --color-minordetail: grey;
    transition: all 400ms ease;
    --flex-container-l: 82%; 
    --big-container: 100vw;
}


.flex{
    display:flex;
}
.flexr{
    display:flex;
    flex-direction: column;
}

.aic{
    align-items: center;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}


/* ---------------------- header / navcontainer --------------------------------- */

.logo{
    font-weight: 1000;
    width:60%;
    /* justify-content: start; */
    /* margin-left: 50px; */
}

.navbar{
    justify-content: center;
    width: var(--big-container);
    border-bottom:1px solid white;
    position: relative;
}

.navcontainer{
    height:100px;
    background-color:black;
    justify-content: space-around;
    align-items: center;
    color:white;
    font-family: 'Geologica', sans-serif;
    font-size: 19px;
    width:var(--flex-container-l);
}

.navsub1 li a{
    color: var(--color-faintw);
}

.navsub1 li a:hover{
    color: var(--color-text);
}

.navSub{
    display:flex;
    width:100%;
    justify-content: flex-end;
    gap:50px;
    margin-right: 100px;
}


.navsub1{
    display: flex;
    font-weight: 100;
    gap:35px;
    background-color: transparent;
}

.navsub2{
    display: flex;
    justify-content: space-between;
    gap:20px;
}


.icon:hover{
    color:rgb(255, 255, 255);
}

.navelement-2 .icon{
    color:var(--color-faintw);
    font-size: 25px;
}

.navelement-2 .icon:hover{
    color: var(--color-text);
}

.menu{
    display:none;
}

.menu i{
    color: var(--color-text);
    font-size: 25px;
}

.flexEnd{
    display:none;
}

.hidden{
    display:flex;
}



@media  screen and (max-width:1023px) {
    .navSub{
        position:absolute;
        /* display: flex; */
        flex-direction: column;
        background: red;
        width:100vw;
        top:0%;
        left:0;
        padding: 40px 0;
        align-items: center;
        text-align: center;
        background: rgb(19, 19, 19);
        font-size: 20px;
        z-index: 999;
        /* display:none; */
    }

    .navsub1{
        flex-direction: column;
    }

    .navcontainer{
        width:100%;
    }

    .menu{
        display:flex;
        font-size: 28px;
    }

    .hidden{
        display:none;
    }

    .show{
        display: flex;
    }

    .flexEnd{
        display: flex;
        padding:3px 4px;
        border-radius: 20px;
        color:rgb(0, 0, 0);
        background: white;
        border:1px solid white;
    }

    .flexEnd:hover{
       background-color: transparent;
       color: white;
       border: 1px solid white;
    }

}


/* --------------------- main container ------------------ */



.maincontainer{
    display: flex;
    color:white;
    justify-content: center;
    margin-top:80px;
    gap:20px
}

.subdiv1{
    display:flex;
    width:25%;
    line-height: 50px;
}

.subdiv1 h1{
    font-size:40px;
}

.stars{
    color:var(--color-minordetail);
}

.material-symbols-outlined{
    font-size:none;
}

.subdiv2{
    display:flex;
    /* align-items: center; */
    /* justify-content: center; */
    width:25%;
}


.watchimg{
    height:200px;
    width: 200px;
    margin-bottom: 20px; 
}

.price{
    align-items: center;
    color:var(--color-minordetail);
    font-family: 'Roboto', sans-serif;
    margin : 12px 0;
}

.watchI{
    font-size:100px;
}

.sizes{
    font-size: 22px;
}

.btn1{
    width:200px;
    color:var(--color-text);
    background:transparent;
    border: 1px solid var(--color-faintw);
    font-size:18px;
    justify-content: center;
    padding:12px 20px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    word-spacing: 2px;;
}

.btn1 i{
    font-size: 22px;
    font-weight: 400;
    /* margin-left:10px; */
}


.btn1:hover i{
    animation: buy 2s infinite ease;
    font-weight: bold;
}

@keyframes buy{
    0%{}
    50%{
        transform:translateX(4px); 
    }
}


.btn1:hover{
    background: var(--color-text);
    color: black;
    border: 1px solid black;
}

.faint{
    color:var(--color-minordetail)
}

.faint a{
    color:var(--color-minordetail);
    text-decoration: none;
}

p{
    margin: 0;
}


/* -------------- imagesDivs --------------------- */


.middle__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}


article{
    display: flex;
    justify-content: center;
    width:100%;
    display: flex;
}

.imageDiv img{
    display: flex;
    width: 60%;
    height: 500px;
    z-index: 555;
}

.article img{
    position: relative;
}
.btn{
    margin-top: 100px;
}

.subdiv2 h2{
    margin-top: 100px;
}

@media screen and (max-width:900px){
    .maincontainer{
        flex-direction: column;
        align-items: center;
        gap:50px;
        width:100%;
        text-align: center;
    }

    .stars , .price , .btn{
        justify-content: center;
    }

    .btn{
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .maincontainer>div{
        width:80%;
    }

    .subdiv2{
        margin-top: 40px;
    }

    .faint{
        margin-top: 10px;
        text-align: center;
    }

    .subdiv2{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .subdiv2 h2{
        margin-top: 10px;
        text-align: center;
        margin-bottom: 50px;
    }
}    

 


/* ------------- scroll Bar ------------- */

::-webkit-scrollbar{
    width: .6rem;
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(43, 43, 43);
}




